
.txt-toolbar a, .wangEditor-drop-list a, .wangEditor-drop-panel a, .wangEditor-menu-container a {
    text-decoration: none;
}
.wangEditor-container {
    background-color: #fff;
    border: 1px solid #ddd;
    position: relative;
    width: 100%;
    z-index: 1;
}
.wangEditor-container img, .wangEditor-container textarea {
    border: 0 none;
}
.wangEditor-container a:focus, .wangEditor-container button:focus {
    outline: 0 none;
}
.wangEditor-container, .wangEditor-container * {
    box-sizing: border-box;
    line-height: 1;
    margin: 0;
    padding: 0;
}
.wangEditor-container .clearfix::after {
    clear: both;
    content: "";
    display: table;
}
.wangEditor-container textarea:focus {
    outline: 0 none;
}
.wangEditor-container .height-tip {
    background-color: #ccc;
    left: 0;
    position: absolute;
    transition: top 0.2s ease 0s;
    width: 3px;
}
.wangEditor-container .txt-toolbar {
    background-color: #fff;
    border-top: 2px solid #666;
    box-shadow: 1px 3px 3px #999;
    padding: 3px 5px;
    position: absolute;
}
.wangEditor-container .txt-toolbar .tip-triangle {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #666;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    display: block;
    height: 0;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: -12px;
    width: 0;
}
.wangEditor-container .txt-toolbar a {
    border-radius: 3px;
    color: #666;
    display: inline-block;
    margin: 0 3px;
    padding: 5px;
    text-decoration: none;
}
.wangEditor-container .txt-toolbar a:hover {
    background-color: #f1f1f1;
}
.wangEditor-container .img-drag-point {
    background-color: #666;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #999;
    cursor: se-resize;
    display: block;
    height: 12px;
    margin-left: -6px;
    margin-top: -6px;
    position: absolute;
    width: 12px;
}
.wangEditor-container .wangEditor-upload-progress {
    background: #1e88e5 none repeat scroll 0 0;
    display: none;
    height: 1px;
    position: absolute;
    transition: width 0.5s ease 0s;
    width: 0;
}
.wangEditor-fullscreen {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
}
.wangEditor-container .code-textarea {
    color: #333;
    font-family: Verdana;
    font-size: 14px;
    line-height: 1.5;
    padding: 0 15px;
    resize: none;
    width: 100%;
}
.wangEditor-menu-container {
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
}
.wangEditor-menu-container .menu-item .active, .wangEditor-menu-container .menu-item:hover {
    background-color: #f1f1f1;
}
.wangEditor-menu-container .menu-group {
    border-right: 1px solid #f1f1f1;
    float: left;
    padding: 0 4px;
}
.wangEditor-menu-container .menu-item {
    float: left;
    height: 31px;
    position: relative;
    text-align: center;
    width: 35px;
}
.wangEditor-menu-container .menu-item a {
    color: #666;
    display: block;
    font-size: 0.9em;
    padding: 8px 0;
    text-align: center;
    width: 100%;
}
.wangEditor-menu-container .menu-item .selected {
    color: #1e88e5;
}
.wangEditor-menu-container .menu-item .disable {
    opacity: 0.5;
}
.wangEditor-menu-container .menu-tip {
    background-color: #666;
    border-radius: 2px;
    box-shadow: 1px 1px 5px #999;
    color: #fff;
    display: none;
    font-size: 12px;
    left: 50%;
    margin-left: -30px;
    padding: 7px 0;
    position: absolute;
    text-align: center;
    top: 100%;
    width: 60px;
    z-index: 20;
}
.wangEditor-menu-container .menu-tip-40 {
    margin-left: -20px;
    width: 40px;
}
.wangEditor-menu-container .menu-tip-50 {
    margin-left: -25px;
    width: 50px;
}
.wangEditor-menu-shadow {
    box-shadow: 0 1px 3px #999;
}
.wangEditor-container .wangEditor-txt {
    margin-top: 5px;
    overflow-y: auto;
    padding: 0 15px 15px;
    text-align: left;
    width: 100%;
}
.wangEditor-container .wangEditor-txt h1, .wangEditor-container .wangEditor-txt h2, .wangEditor-container .wangEditor-txt h3, .wangEditor-container .wangEditor-txt h4, .wangEditor-container .wangEditor-txt h5, .wangEditor-container .wangEditor-txt p {
    line-height: 1.8;
    margin: 10px 0;
}
.wangEditor-container .wangEditor-txt h1 *, .wangEditor-container .wangEditor-txt h2 *, .wangEditor-container .wangEditor-txt h3 *, .wangEditor-container .wangEditor-txt h4 *, .wangEditor-container .wangEditor-txt h5 *, .wangEditor-container .wangEditor-txt p * {
    line-height: 1.8;
}
.wangEditor-container .wangEditor-txt ol, .wangEditor-container .wangEditor-txt ul {
    padding-left: 20px;
}
.wangEditor-container .wangEditor-txt img {
    cursor: pointer;
}
.wangEditor-container .wangEditor-txt img.clicked, .wangEditor-container .wangEditor-txt table.clicked {
    box-shadow: 1px 1px 10px #999;
}
.wangEditor-container .wangEditor-txt pre code {
    line-height: 1.5;
}
.wangEditor-container .wangEditor-txt:focus {
    outline: 0 none;
}
.wangEditor-container .wangEditor-txt blockquote {
    background-color: #f1f1f1;
    border-left: 8px solid #d0e5f2;
    display: block;
    font-size: 100%;
    line-height: 1.4;
    margin: 10px 0;
    padding: 5px 10px;
}
.wangEditor-container .wangEditor-txt table {
    border: 0 none;
    border-collapse: collapse;
}
.wangEditor-container .wangEditor-txt table td, .wangEditor-container .wangEditor-txt table th {
    border: 1px solid #999;
    height: 20px;
    min-width: 50px;
    padding: 3px 5px;
}
.wangEditor-container .wangEditor-txt pre {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 0.8em;
    margin: 5px 0;
    padding: 10px;
}
.txt-toolbar, .wangEditor-drop-list, .wangEditor-drop-panel {
    box-shadow: 1px 3px 3px #999;
    position: absolute;
    z-index: 10;
}
.wangEditor-drop-list {
    background-color: #fff;
    border-top: 1px solid #f1f1f1;
    display: none;
    overflow: hidden;
    transition: height 0.7s ease 0s;
}
.wangEditor-drop-list a {
    color: #666;
    display: block;
    padding: 3px 5px;
}
.wangEditor-drop-list a:hover {
    background-color: #f1f1f1;
}
.txt-toolbar, .wangEditor-drop-panel {
    background-color: #fff;
    border-top: 2px solid #666;
    display: none;
    font-size: 14px;
    padding: 10px;
}
.txt-toolbar .tip-triangle, .wangEditor-drop-panel .tip-triangle {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #666;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    display: block;
    height: 0;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: -12px;
    width: 0;
}
.txt-toolbar input[type="text"], .wangEditor-drop-panel input[type="text"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #ccc;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #333;
    font-size: 14px;
    height: 20px;
    padding: 3px 0;
}
.txt-toolbar input[type="text"]:focus, .wangEditor-drop-panel input[type="text"]:focus {
    border-bottom: 2px solid #1e88e5;
    outline: 0 none;
}
.txt-toolbar input.block[type="text"], .wangEditor-drop-panel input.block[type="text"] {
    display: block;
    width: 100%;
}
.txt-toolbar textarea, .wangEditor-drop-panel textarea {
    border: 1px solid #ccc;
}
.txt-toolbar textarea:focus, .wangEditor-drop-panel textarea:focus {
    border-color: #1e88e5;
    outline: 0 none;
}
.txt-toolbar button, .wangEditor-drop-panel button {
    background-color: #fff;
    border: 0 none;
    border-radius: 3px;
    color: #1e88e5;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
}
.txt-toolbar button:hover, .wangEditor-drop-panel button:hover {
    background-color: #f1f1f1;
}
.txt-toolbar button:focus, .wangEditor-drop-panel button:focus {
    outline: 0 none;
}
.txt-toolbar button.right, .wangEditor-drop-panel button.right {
    float: right;
    margin-left: 10px;
}
.txt-toolbar button.gray, .wangEditor-drop-panel button.gray {
    color: #999;
}
.txt-toolbar button.link, .wangEditor-drop-panel button.link {
    padding: 5px 10px;
}
.txt-toolbar button.link:hover, .wangEditor-drop-panel button.link:hover {
    background-color: #fff;
    text-decoration: underline;
}
.txt-toolbar .color-item:hover, .txt-toolbar .list-menu-item:hover, .wangEditor-drop-panel .color-item:hover, .wangEditor-drop-panel .list-menu-item:hover {
    background-color: #f1f1f1;
}
.txt-toolbar .color-item, .wangEditor-drop-panel .color-item {
    border-radius: 2px;
    display: block;
    float: left;
    height: 25px;
    padding: 2px;
    text-align: center;
    text-decoration: underline;
    width: 25px;
}
.txt-toolbar .list-menu-item, .wangEditor-drop-panel .list-menu-item {
    border-radius: 2px;
    color: #333;
    display: block;
    float: left;
    padding: 5px;
}
.txt-toolbar table.choose-table, .wangEditor-drop-panel table.choose-table {
    border: 0 none;
    border-collapse: collapse;
}
.txt-toolbar table.choose-table td, .wangEditor-drop-panel table.choose-table td {
    border: 1px solid #ccc;
    height: 12px;
    width: 16px;
}
.txt-toolbar table.choose-table td.active, .wangEditor-drop-panel table.choose-table td.active {
    background-color: #ccc;
    opacity: 0.5;
}
.txt-toolbar .panel-tab .tab-container, .wangEditor-drop-panel .panel-tab .tab-container {
    margin-bottom: 5px;
}
.txt-toolbar .panel-tab .tab-container a, .wangEditor-drop-panel .panel-tab .tab-container a {
    color: #999;
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
    text-align: center;
}
.txt-toolbar .panel-tab .tab-container a.selected, .wangEditor-drop-panel .panel-tab .tab-container a.selected {
    border-bottom: 2px solid #1e88e5;
    color: #1e88e5;
}
.txt-toolbar .panel-tab .content-container .content, .wangEditor-drop-panel .panel-tab .content-container .content {
    display: none;
}
.txt-toolbar .panel-tab .content-container .content a, .wangEditor-drop-panel .panel-tab .content-container .content a {
    border-radius: 2px;
    display: inline-block;
    margin: 2px;
    padding: 2px;
}
.txt-toolbar .panel-tab .content-container .content a:hover, .wangEditor-drop-panel .panel-tab .content-container .content a:hover {
    background-color: #f1f1f1;
}
.txt-toolbar .panel-tab .content-container .selected, .wangEditor-drop-panel .panel-tab .content-container .selected {
    display: block;
}
.txt-toolbar .panel-tab .emotion-content-container, .wangEditor-drop-panel .panel-tab .emotion-content-container {
    height: 200px;
    overflow-y: auto;
}
.txt-toolbar .upload-icon-container, .wangEditor-drop-panel .upload-icon-container {
    border: 2px dotted #f1f1f1;
    color: #ccc;
    cursor: pointer;
    display: block !important;
    font-size: 65px;
    margin: 20px 20px 15px !important;
    padding: 5px !important;
    text-align: center;
}
.txt-toolbar .upload-icon-container:hover, .wangEditor-drop-panel .upload-icon-container:hover {
    border-color: #ccc;
    color: #666;
}
.wangEditor-modal {
    background-color: #fff;
    border-top: 1px solid #f1f1f1;
    box-shadow: 1px 3px 3px #999;
    left: 50%;
    position: absolute;
    top: 50%;
}
.wangEditor-modal .wangEditor-modal-close {
    color: #666;
    cursor: pointer;
    font-size: 1.5em;
    margin-right: -25px;
    margin-top: -25px;
    position: absolute;
    right: 0;
    top: 0;
}
@font-face {
    font-family: "icomoon";
    font-style: normal;
    font-weight: 400;
    src: url("/Content/FormDesign/fonts/icomoon.eot?#iefix-qdfu1s") format("embedded-opentype"), url("/Content/FormDesign/fonts/icomoon.ttf?-qdfu1s") format("truetype"), url("/Content/FormDesign/fonts/icomoon.woff?-qdfu1s") format("woff"), url("../fonts/icomoon.svg?-qdfu1s#icomoon") format("svg");
}
[class*=" wangeditor-menu-img-"], [class^="wangeditor-menu-img-"] {
    font-family: icomoon;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
}
.wangeditor-menu-img-link::before {
    content: "";
}
.wangeditor-menu-img-unlink::before {
    content: "";
}
.wangeditor-menu-img-code::before {
    content: "";
}
.wangeditor-menu-img-cancel::before {
    content: "";
}
.wangeditor-menu-img-terminal::before {
    content: "";
}
.wangeditor-menu-img-angle-down::before {
    content: "";
}
.wangeditor-menu-img-font::before {
    content: "";
}
.wangeditor-menu-img-bold::before {
    content: "";
}
.wangeditor-menu-img-italic::before {
    content: "";
}
.wangeditor-menu-img-header::before {
    content: "";
}
.wangeditor-menu-img-align-left::before {
    content: "";
}
.wangeditor-menu-img-align-center::before {
    content: "";
}
.wangeditor-menu-img-align-right::before {
    content: "";
}
.wangeditor-menu-img-list-bullet::before {
    content: "";
}
.wangeditor-menu-img-indent-left::before {
    content: "";
}
.wangeditor-menu-img-indent-right::before {
    content: "";
}
.wangeditor-menu-img-list-numbered::before {
    content: "";
}
.wangeditor-menu-img-underline::before {
    content: "";
}
.wangeditor-menu-img-table::before {
    content: "";
}
.wangeditor-menu-img-eraser::before {
    content: "";
}
.wangeditor-menu-img-text-height::before {
    content: "";
}
.wangeditor-menu-img-brush::before {
    content: "";
}
.wangeditor-menu-img-pencil::before {
    content: "";
}
.wangeditor-menu-img-minus::before {
    content: "";
}
.wangeditor-menu-img-picture::before {
    content: "";
}
.wangeditor-menu-img-file-image::before {
    content: "";
}
.wangeditor-menu-img-cw::before {
    content: "";
}
.wangeditor-menu-img-ccw::before {
    content: "";
}
.wangeditor-menu-img-music::before {
    content: "";
}
.wangeditor-menu-img-play::before {
    content: "";
}
.wangeditor-menu-img-location::before {
    content: "";
}
.wangeditor-menu-img-happy::before {
    content: "";
}
.wangeditor-menu-img-sigma::before {
    content: "";
}
.wangeditor-menu-img-enlarge2::before {
    content: "";
}
.wangeditor-menu-img-shrink2::before {
    content: "";
}
.wangeditor-menu-img-newspaper::before {
    content: "";
}
.wangeditor-menu-img-camera::before {
    content: "";
}
.wangeditor-menu-img-video-camera::before {
    content: "";
}
.wangeditor-menu-img-file-zip::before {
    content: "";
}
.wangeditor-menu-img-stack::before {
    content: "";
}
.wangeditor-menu-img-credit-card::before {
    content: "";
}
.wangeditor-menu-img-address-book::before {
    content: "";
}
.wangeditor-menu-img-envelop::before {
    content: "";
}
.wangeditor-menu-img-drawer::before {
    content: "";
}
.wangeditor-menu-img-download::before {
    content: "";
}
.wangeditor-menu-img-upload::before {
    content: "";
}
.wangeditor-menu-img-lock::before {
    content: "";
}
.wangeditor-menu-img-unlocked::before {
    content: "";
}
.wangeditor-menu-img-wrench::before {
    content: "";
}
.wangeditor-menu-img-eye::before {
    content: "";
}
.wangeditor-menu-img-eye-blocked::before {
    content: "";
}
.wangeditor-menu-img-command::before {
    content: "";
}
.wangeditor-menu-img-font2::before {
    content: "";
}
.wangeditor-menu-img-libreoffice::before {
    content: "";
}
.wangeditor-menu-img-quotes-left::before {
    content: "";
}
.wangeditor-menu-img-strikethrough::before {
    content: "";
}
.wangeditor-menu-img-desktop::before {
    content: "";
}
.wangeditor-menu-img-tablet::before {
    content: "";
}
.wangeditor-menu-img-search-plus::before {
    content: "";
}
.wangeditor-menu-img-search-minus::before {
    content: "";
}
.wangeditor-menu-img-trash-o::before {
    content: "";
}
.wangeditor-menu-img-align-justify::before {
    content: "";
}
.wangeditor-menu-img-arrows-v::before {
    content: "";
}
.wangeditor-menu-img-sigma2::before {
    content: "";
}
.wangeditor-menu-img-omega::before {
    content: "";
}
.wangeditor-menu-img-cancel-circle::before {
    content: "";
}
.hljs {
    -moz-text-size-adjust: none;
    background: #f8f8f8 none repeat scroll 0 0;
    color: #333;
    display: block;
    overflow-x: auto;
    padding: 0.5em;
}
.diff .hljs-header, .hljs-comment {
    color: #998;
    font-style: italic;
}
.css .rule .hljs-keyword, .hljs-keyword, .hljs-request, .hljs-status, .hljs-subst, .hljs-winutils, .nginx .hljs-title {
    color: #333;
    font-weight: 700;
}
.hljs-hexcolor, .hljs-number, .ruby .hljs-constant {
    color: teal;
}
.hljs-doctag, .hljs-string, .hljs-tag .hljs-value, .tex .hljs-formula {
    color: #d14;
}
.hljs-id, .hljs-title, .scss .hljs-preprocessor {
    color: #900;
    font-weight: 700;
}
.hljs-list .hljs-keyword, .hljs-subst {
    font-weight: 400;
}
.hljs-class .hljs-title, .hljs-type, .tex .hljs-command, .vhdl .hljs-literal {
    color: #458;
    font-weight: 700;
}
.django .hljs-tag .hljs-keyword, .hljs-rule .hljs-property, .hljs-tag, .hljs-tag .hljs-title {
    color: navy;
    font-weight: 400;
}
.hljs-attribute, .hljs-name, .hljs-variable, .lisp .hljs-body {
    color: teal;
}
.hljs-regexp {
    color: #009926;
}
.clojure .hljs-keyword, .hljs-prompt, .hljs-symbol, .lisp .hljs-keyword, .ruby .hljs-symbol .hljs-string, .scheme .hljs-keyword, .tex .hljs-special {
    color: #990073;
}
.hljs-built_in {
    color: #0086b3;
}
.hljs-cdata, .hljs-doctype, .hljs-pi, .hljs-pragma, .hljs-preprocessor, .hljs-shebang {
    color: #999;
    font-weight: 700;
}
.hljs-deletion {
    background: #fdd none repeat scroll 0 0;
}
.hljs-addition {
    background: #dfd none repeat scroll 0 0;
}
.diff .hljs-change {
    background: #0086b3 none repeat scroll 0 0;
}
.hljs-chunk {
    color: #aaa;
}
fieldset {
    border: 0 none;
    color: #333;
    line-height: 200%;
    margin-top: 3px;
    padding: 3px 0;
}
legend {
    color: #333;
    font-weight: bold;
    margin-left: -10px;
    padding: 4px 7px 4px 10px;
}
#container, #navmenu {
    width: 1250px;
}
#topActions {
    margin: auto;
    width: 1250px;
}
#divNavContainer {
    background-color: #444;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
#divtopActionsContainer {
    background: rgba(0, 0, 0, 0) url("images/builderBg.png") repeat scroll 0 0;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 1000;
}
#topActions .btnactions .btn {
    background-color: #fafafa;
    border-color: #dfdfdf;
    border-radius: 0;
    box-sizing: border-box;
    color: #444;
    font-size: 130%;
    height: 30px;
    line-height: 25px;
    margin: 0 0 0 3px;
    padding: 0;
    text-align: center;
    width: 30px;
}
#topActions .btnactions .btn:hover {
    border-color: #999;
}
h3, .h3 {
    clear: both;
    font-size: 12.5px !important;
    opacity: 1 !important;
    padding: 3px 0;
}
h2 {
    color: #000;
    font-weight: normal;
    margin: 0 0 5px;
}
fieldset ul li {
    margin-top: 5px;
    position: relative;
}
.num {
    color: #2596e6;
    float: left;
    font-size: 300%;
    text-align: center;
}
.radio, .checkbox {
    margin-right: 5px;
}
.noheight {
    height: 0;
    margin-bottom: 15px;
}
#container {
    height: auto;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}
#left {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ddd #ddd -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    float: left;
    margin-top: 4px;
    position: fixed;
    height:800px;
    width: 280px;
}
#middle {
    background-color: #fff;
    border: 1px solid #ddd;
    float: left;
    margin-left: 305px;
    margin-top: 4px;
    min-height: 800px;
    overflow: hidden;
    width: 580px;
}
#right {
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-left: 913px;
    min-height:800px;
    margin-top: 4px;
    overflow: hidden;
    position: fixed;
    width: 335px;
    z-index: 900;
}
#addFields .btn-field {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    cursor: move;
    display: block;
    font-size: 85%;
    padding: 10px;
}
#addFields .btn-field-helper {
    background-color: #f5f5f5;
    border: 1px solid #ddd !important;
}
#col2 .btn-field, #col4 .btn-field, #col6 .btn-field {
    border-right: 0 none;
}
#addFields .btn-field:hover {
    background-color: #f5f5f5;
}
h3.fields-group, h3.property-title {
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
    padding: 9px 15px;
}
#addFields .btn-field .iconfont {
    font-size: 12.5px;
    margin-right: 15px;
}
#col1 li, #col3 li, #col2 li, #col4 li, #col5 li, #col6 li {
    box-sizing: border-box;
    width: 140px;
}
#col1, #col3, #col5 {
    float: left;
}
#col2, #col4, #col6 {
    float: right;
}
#allPropsContainer {
    overflow: auto;
}
#allProps > li {
    padding: 0 20px;
}
#allProps > li.bggray {
    background-color: #f8f8f8;
    padding-bottom: 8px;
}
#allProps > li.left.half {
    padding-right: 0;
}
#allProps > li.right.half {
    padding-left: 0;
}
.half {
    box-sizing: border-box;
    width: 49%;
}
.third {
    box-sizing: border-box;
    margin-right: 1px;
    width: 32.5%;
}
.left {
    float: left;
}
.center {
    text-align: center;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.textcontent {
    position: relative;
}
.qrinput {
    color: #999;
    font-size: 200%;
    position: relative;
    right: 30px;
    top: 5px;
}
input.xxl + i.qrinput {
    bottom: 10px;
    position: absolute;
    right: 5px;
}
.dropReq {
    background-color: #fffbef;
    border: 1px solid #e8dbad;
    padding: 5px;
}
#goodsList .icononly-del {
    margin: 0 0 0 10px;
}
#goodsList li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: #ddd;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px;
    margin-top: 0;
    padding: 5px 10px;
}
#goodsList li:first-child {
    border-top-width: 1px;
}
#goodsList .goods-item img {
    border-radius: 3px;
    cursor: move;
    height: 30px;
    width: 30px;
}
#goodsList.noimg .goods-image {
    display: none;
}
#goodsList.noimg .goods-name-edit input.val {
    width: 210px;
}
#goodsList .goods-item .goods-name-view {
    float: left;
    vertical-align: middle;
    width: 214px;
}
#goodsList.noimg .goods-item .goods-name-view {
    width: 250px;
}
#goodsList .goods-item .goods-name-view, #goodsList .goods-item.expand .attrs {
    display: block;
}
#goodsList .goods-item.expand .goods-name-view, #goodsList .goods-item .attrs {
    display: none;
}
#goodsList .goods-image {
    margin-right: 10px;
}
#goodsList .goods-image, #goodsList .attrs div {
    float: left;
    vertical-align: middle;
}
#goodsList .edit-img {
    color: #2980b9;
    display: inline-block;
    height: 25px;
    position: relative;
    text-decoration: underline;
    width: 60px;
}
#goodsList.noimg .edit-img {
    display: none;
}
#goodsList .goods-price, #goodsList .goods-unit, #goodsList .goods-def, #goodsList .goods-hide {
    float: left;
    padding: 3px 0;
    vertical-align: middle;
    width: 50%;
}
#goodsList .goods-hide {
    float: left;
    margin-left: -16px;
    width: 20%;
}
#goodsList .goods-price input, #goodsList .goods-unit input, #goodsList .goods-def input {
    width: 50%;
}
#goodsList .goods-currency select {
    width: 70px;
}
#goodsList .goods-name-edit label {
    line-height: 34px;
}
#goodsList .goods-name-edit input.val {
    width: 105px;
}
#goodsList input.edit-img-input {
    font-size: 20px;
    height: 25px;
    width: 70px;
}
#goodsList .goods-description textarea {
    height: 50px;
    max-width: 210px;
    min-height: 50px;
    width: 210px;
}
#pgoods .add-goods .add-image-btn, #pgoods.noimg .add-goods .add-goods-btn {
    display: block;
}
#pgoods .add-goods .add-goods-btn, #pgoods.noimg .add-goods .add-image-btn {
    display: none;
}
#btnItemsPredefine, #btnItemsBatch, #btnAddNoImgGoods, #btnLikertPredefine, #btnAddGoods {
    margin-top: 10px;
}
.file-prew {
    cursor: pointer;
    display: block;
    font-size: 30px;
    height: 30px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 140px;
}
#allFormPerperties > li {
    padding: 0 20px;
}
#allFormPerperties {
    padding-bottom: 35px;
}
.highlight-blue, .highlight {
    background: #ecf0f1 none repeat scroll 0 0;
    border-radius: 3px;
    padding: 3px 10px;
    text-align: left;
}
.highlight-blue .desc {
    padding: 0;
}
.overhide {
    overflow: hidden;
}
.arrow {
    height: 28px;
    margin: 0 1px 0 0;
    position: absolute;
    right: 100%;
    width: 16px;
    z-index: 50;
}
* html .arrowie6 {
    left: -20px;
}
#middle li * {
    cursor: pointer;
}
.form-default {
    background-color: #f9f9f9;
    border-color: #f9f9f9 #f9f9f9 #ddd;
    border-style: solid;
    border-width: 1px;
}
.form-focused {
    background-color: #fffbef;
    border: 1px dashed #e8dbad;
}
.form-prefocus {
    background-color: #f9f9f9;
    border: 1px dashed #bbb;
    cursor: pointer;
}
.default {
    border: 1px solid transparent;
}
.focused {
    background-color: #fffbef;
    border: 1px solid #e8dbad;
}
.prefocus {
    background-color: #fff;
    border: 1px dashed #bbb;
}
.fieldActions {
    bottom: -10px;
    padding: 0 2px;
    position: absolute;
    right: 15px;
    width: 50px !important;
    z-index: 800;
}
.fieldActions .iconfont {
    cursor: pointer;
}
.faDup {
    background-color: #fff;
    color: #31ba42;
    margin-right: 15px;
}
.faDel {
    background-color: #fff;
    color: #f0483f;
}
.handle {
    height: 98%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.handle i {
    background-color: #fbfbfb;
    cursor: move !important;
    position: absolute;
    right: 2px;
    top: 1px;
}
.section {
    border-top: 1px dotted #ccc;
    font-size: 110% !important;
}
#fields li.private {
    background-image: url("images/locksmall.png") !important;
    background-position: 98% 7px;
    background-repeat: no-repeat;
}
#fields li.first .section {
    border-top: medium none !important;
}
#fields a {
    text-decoration: underline;
}
#fields div.map {
    margin-top: 5px;
    padding: 0 1px;
    width: 100%;
}
#fields div.map img {
    width: 100%;
}
#middle table {
    border: 0 none;
    border-collapse: collapse;
}
#middle table td, #middle table th {
    border: 1px solid #dedede;
    height: 20px;
    min-width: 50px;
    padding: 3px 5px;
}
#fields .goods-item {
    background: #fdfdfd none repeat scroll 0 0;
    border: 1px solid #f9f9f9;
    display: inline-block;
    float: left;
    margin: 10px 0 10px 3px;
    padding: 7px;
    vertical-align: top;
    width: 160px;
}
#fields .goods-item .img {
    border: 1px solid #e0e0e0;
    vertical-align: middle;
    width: 158px;
}
#fields .goods-item .image-center {
    height: 158px;
    overflow: hidden;
}
#fields .goods-item .name {
    display: block;
    font-weight: bold;
    padding-top: 5px;
}
#fields .goods-item .des {
    border-bottom: 1px dotted #e0e0e0;
    display: block;
}
#fields .goods-item .price-number {
    padding-top: 5px;
}
#fields .goods-item .price {
    color: #e74c3c;
    display: inline-block;
    float: left;
    font-family: "Georgia";
    font-weight: bold;
    line-height: 25px;
    width: 80px;
}
#fields .goods-item .number-container {
    border: 1px solid #e0e0e0;
    display: inline-block;
    float: left;
    text-align: center;
}
#fields .goods-item .number {
    border-color: -moz-use-text-color #e0e0e0;
    border-style: none solid;
    border-width: 0 1px;
    height: 24px;
    line-height: 24px;
    padding: 3px;
    text-align: center;
    width: 20px;
}
#fields .goods-item .number.noincrease {
    border-right: 0 none;
    width: 50px;
}
#fields .goods-item a.decrease, .goods-item a.increase {
    background-color: #eee;
    color: #666;
    display: inline-block;
    font-size: 120%;
    font-weight: bold;
    padding: 2px 4px;
    text-decoration: none !important;
    width: 14px;
}
#fields .goods-item a.decrease i, .goods-item a.increase i {
    font-style: normal;
}
.noimage-holder, .nogoods-holder {
    border: 1px dashed #bbb;
    height: 109px;
    line-height: 109px;
    text-align: center;
    width: 171px;
}
.noimage-holder i {
    display: block;
    font-size: 230%;
    text-align: center;
}
.info {
    border-bottom: 1px dotted #ccc;
    clear: both;
    display: inline-block;
    margin: 0 0 5px;
    padding: 0 1% 1.1em;
    width: 100%;
}
.info h2 {
    clear: left;
    font-size: 160%;
    font-weight: normal;
    margin: 0 0 5px;
}
.info h3 {
    color: #555;
    font-size: 95%;
    line-height: 135%;
}
.info div {
    line-height: 150%;
}
.choiceMenu {
    border-bottom: 1px dotted #ccc;
    height: 202px;
    list-style: outside none none;
    margin: 0;
    overflow: auto;
    padding: 0;
}
.choiceMenu li {
    margin: 0 0 3px;
}
.choiceMenu li a {
    background-color: #fcfcfc;
    color: #444;
    display: block;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 0 10px 0 0;
    text-align: center;
    text-decoration: none;
}
.choiceMenu li a:hover {
    background-color: #f1f1f1;
}
.flow {
    padding: 0 0 0 20px;
}
.flow div {
    border-left: 2px solid #ddd;
    color: #ddd;
    font-size: 170%;
    font-weight: bold;
    line-height: 202px;
    text-indent: -2px;
}
.choiceText {
    height: 200px;
    margin: 0 0 10px;
    min-width: 98%;
    width: 98%;
}
.formButtons {
    background: #f1f1f1 none repeat scroll 0 0;
    bottom: 1px;
    padding: 15px 0;
    position: absolute;
    text-align: center;
    width: 580px;
    z-index: 1;
}
#lbContent ol.decide {
    list-style: outside none none;
    margin: 17px 0 0;
    padding: 0;
    width: 100%;
}
#lbContent ol.decide li {
    font-size: 120%;
    margin: 0 0 10px;
    padding: 0;
    width: 100%;
}
#lbContent ol.decide li a {
    background-color: #fbfbfb;
    color: #555;
    display: block;
    line-height: 40px;
    margin: 1px;
    padding: 1px 1px 1px 16px;
    text-decoration: none;
}
#lbContent ol.decide li a:hover {
    background-color: #f1f1f1;
}
.s {
    width: 30%;
}
.xs {
    width: 40%;
}
.m {
    width: 49%;
}
.sl {
    width: 70%;
}
.l {
    width: 75%;
}
.xl {
    width: 80%;
}
.xxl {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}
.yyyy {
    width: 50px;
}
.mm, .dd, .hh, .ss {
    width: 60px;
}
.txtCenter {
    text-align: center;
}
#fields textarea.s {
    height: 80px;
    width: 100%;
}
#fields textarea.m {
    height: 150px;
    width: 100%;
}
#fields textarea.xxl {
    height: 250px;
    width: 100%;
}
.wangEditor-txt {
    height: 200px !important;
}
.oneline span {
    float: left;
    margin-right: 3px;
    text-align: center;
}
.oneline span.split {
    line-height: 32px;
}
.oneline label {
    display: block;
}
.onelineLeft label {
    display: block;
}
.forms {
    position: relative;
}
.fields {
    min-height: 150px;
    padding: 0 15px 80px;
    position: relative;
}
* html .fields {
    height: 150px;
}
.field {
    margin: 0 0 6px;
    padding: 6px;
    position: relative;
    width: 98%;
}
.form {
    margin: 0 0 6px;
    padding: 20px 6px 20px 15px;
    position: relative;
}
.fields li div {
    overflow: hidden;
}
.reduction label {
    color: #555;
    font-size: 90%;
    opacity: 0.7;
}
.desc {
    color: #333;
    display: block;
    font-size: 95%;
    font-weight: bold;
    margin: 0;
    padding: 3px 0 6px;
}
.filewrap input {
    cursor: pointer;
    display: block;
    font-size: 20px;
    height: 20px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 80px;
}
.file-input {
    padding: 5px 10px !important;
}
#right .desc {
    padding-top: 15px;
}
#right fieldset .desc {
    padding: 0;
}
.not-bold {
    font-weight: normal;
}
.input {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 2px;
    padding: 7px;
}
.req {
    color: red;
    font-weight: bold;
}
.fieldInstruct {
    width: 63%;
}
.instruct {
    background-color: #f5f5f5;
    border: 1px solid #e6e6e6;
    font-size: 95%;
    left: 100%;
    margin: 0 0 0 8px;
    padding: 8px;
    position: absolute;
    top: 0;
    width: 45%;
    z-index: 800;
}
.leftLabel {
    overflow: hidden;
}
.leftLabel .desc {
    float: left;
    margin: 0 10px 0 0;
    width: 30%;
}
.leftLabel li {
    float: left;
}
.leftLabel li > div {
    float: left;
    width: 67%;
}
.labelRight .desc {
    text-align: right;
}
.noLabelAlign .desc {
    float: none !important;
    margin: 0 !important;
    width: auto !important;
}
.noLabelAlign {
    float: none !important;
    width: auto !important;
}
.one div span {
    display: block;
    float: left;
    padding: 3px;
    width: 98%;
}
.two div span {
    display: block;
    float: left;
    padding: 3px;
    width: 48%;
}
.three div span {
    display: block;
    float: left;
    padding: 3px;
    width: 30%;
}
.oneByOne div span {
    display: inline-block;
    padding: 3px;
}
.oneByOne .m {
    width: 30%;
}
.one input, .two input, .three input, .oneByOne input {
    margin-right: 5px;
}
.table {
    background-color: #fff;
    border-color: #dedede;
    border-style: solid none none solid;
    border-width: 1px;
    width: 100%;
}
.table caption {
    color: #222;
    line-height: 135%;
    padding: 5px 0 0.5em;
    text-align: left;
}
.table thead {
    background-color: #fdfdfd;
    font-weight: normal;
    text-align: center;
}
.table th {
    font-weight: normal;
    padding: 10px 6px;
    width: 30%;
}
.table td, .table th {
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
    text-align: center;
}
.table td label {
    color: #565656;
    display: block;
    font-size: 85%;
}
.leftHalf {
    float: left;
    width: 47%;
}
.rightHalf {
    float: right;
    width: 47%;
}
div.dp-popup {
    background: #000 none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-family: arial,sans-serif;
    font-size: 85%;
    line-height: 1.2em;
    padding: 2px;
    position: relative;
}
div#dp-popup {
    position: absolute;
    z-index: 10000;
}
div.dp-popup h2 {
    color: #fff;
    font-size: 12px;
    margin: 6px 0;
    padding: 0;
    text-align: center;
}
a#dp-close {
    display: block;
    font-size: 11px;
    padding: 4px 0;
    text-align: center;
}
a#dp-close:hover {
    text-decoration: underline;
}
div.dp-popup a {
    color: #fff;
    padding: 3px 2px 0;
    text-decoration: none;
}
div.dp-popup div.dp-nav-prev {
    left: 4px;
    position: absolute;
    top: 2px;
    width: 100px;
}
div.dp-popup div.dp-nav-prev a {
    float: left;
}
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
    cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
    cursor: default;
}
div.dp-popup div.dp-nav-next {
    position: absolute;
    right: 4px;
    top: 2px;
    width: 100px;
}
div.dp-popup div.dp-nav-next a {
    float: right;
}
div.dp-popup a.disabled {
    color: #aaa;
    cursor: default;
}
div.dp-popup td {
    cursor: pointer;
}
div.dp-popup td.disabled {
    cursor: default;
}
a.dp-nav-prev-year, a.dp-nav-prev-month, a.dp-nav-next-year, a.dp-nav-next-month {
    background-color: #000;
    background-image: url("images/view-icon-bg.gif");
    background-repeat: no-repeat;
    border: 1px solid #000;
    border-radius: 6px;
    display: block;
    height: 16px;
    width: 15px;
}
a.dp-nav-prev-month {
    background-position: 2px -15px;
}
a.dp-nav-prev-year {
    background-position: 2px -47px;
}
a.dp-nav-next-month {
    background-position: 2px -31px;
}
a.dp-nav-next-year {
    background-position: 2px -63px;
}
a.dp-nav-prev-year:hover, a.dp-nav-prev-month:hover, a.dp-nav-next-year:hover, a.dp-nav-next-month:hover {
    background-color: #0078a3;
    border: 1px solid #59b4d4;
}
.icon-pos {
    margin-top: -14px;
    top: 50%;
}
.item-upload {
    border: 1px dotted #ccc;
    cursor: pointer;
    display: inline-block;
    height: 60px;
    margin: 3px 3px 3px 0;
    overflow: hidden;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
    width: 60px;
}
